#content ul {
    list-style-type: none;
    padding-inline-start: 3px;
}

#content li {
    cursor: pointer;
    user-select: none; 
}
  
#content > ul {
    margin: 0;
    padding: 0;
}
  
.caret {
    cursor: pointer;
    user-select: none;
}
  
.caret::before {
    content: "\25B7";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
  
.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}  

.active {
    display: block;
}

.itemselected {
    color: red;
}

.copy-value {
    background-image: url('../img/copy.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 25px;
}

.view-value {
    background-image: url('../img/view.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 25px;
}

.is-hidden {
    display: none;
}